<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Bloom používa kameru na nahrávanie webkamery a picture-in-picture.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Bloom používa mikrofón na nahrávanie komentára spolu s videom.</string>
  <key>NSScreenCaptureUsageDescription</key>
  <string>Bloom potrebuje prístup k nahrávaniu obrazovky, aby mohol zachytiť tvoj displej.</string>
</dict>
</plist>
